.tirar-dados {
    background-image: url('../../img/column.png');
    background-size: auto 95%;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    height: 1000px;

    .container {
        padding-top: 70px;
        text-align: center;
        justify-content: center;
    }

    h1 {
        margin-bottom: 50px;
    }

    .spacer {
        margin: 20px;
    }

    .radio-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .option {
            margin-top: 10px;
            margin-left: -5px;
            display: block;
            position: relative;
            padding-left: 30px;
            padding-right: 5px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 100px;
            text-align: left;

            .radio {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-image: url('../../img/radio.png');
                background-size: contain;
                background-position: top;
                background-repeat: no-repeat;
            }

            :hover~.radio {
                filter: brightness(1.2);
            }

            :checked~.radio {
                background-image: url('../../img/radio-selected.png');
                
            }
        }

        .hideme {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }


    }

    .results  {        
        img {
            margin-right: 5px;
            filter: brightness(0.9);
    }}
}