h1, h2, h3, h4, h5, h6 {
    font-family: 'Oldenburg', sans-serif!important;
}

a {
    color: #1a1209;
}

a:visited {
    color: #402a17;
}

body {
    background-image: url("images/ink_forest.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-attachment: fixed; 
    min-height: 100vh;
}